<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OurGameList</display-name>
  <!-- <servlet>
    <servlet-name>AddGame</servlet-name>
    <servlet-class>com.ourgamelist.AddServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGame</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Double</servlet-name>
    <servlet-class>com.ourgamelist.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Double</servlet-name>
    <url-pattern>/d</url-pattern>
  </servlet-mapping>
   -->

</web-app>